<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP3 To Notes</title>
</head>
    <body>
        <p>
            <button id="record"> start </button>
            <button id="stopRecord"> stop </button>
        </p>
    
    </body>
    <div class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#notes">Notes</a>
        <a href="#save">Save</a>
      </div>
    <script src="static/js/inAppRecording.js"></script>
</html>