{% extends "layout.html" %}
{% block content %}
    <body>
        <main>
            <label for="audio">Select an audio file (.wav):</label>
            <input type="file" name="audio" id="audio" accept=".wav" required>
            <button id="audioSubmit" type="submit" onclick="wav_to_text();">Upload</button>

            <p>or</p>

            <div id="controls">
                <button id="recordButton">Record</button>
                <button id="pauseButton" disabled>Pause</button>
                <button id="stopButton" disabled>Stop</button>
                <p id="recordingStatusNotifier"></p>
            </div>

            <div>
                <div id="loader" class="hidden"><div>Processing... (This may take a few minutes)</div><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
            </div>
            
            <div class="hidden" id="options">
                <br><hr><br>
                <ul id="notes" class="hidden"></ul>
                <div id="transcript" class="hidden"></div>
                <button onclick="viewText();" id="change-view" style="display: none;">View Text</button>
                <br><hr><br>
                <h3>Save note</h3>
                <label for="noteTitle">Pick a note title:</label>
                <input type="text" name="noteTitle" id="noteTitle" required>
                <button id="submitNoteTitle" type="submit" onclick="save_note()">Confirm Save</button>
                <button id="copyClipboard" onclick="copynotes();">Copy to Clipboard</button>
            </div>
        </main>
        
    </body>
    <script>
        function viewText() {
            notes = document.getElementById('notes')
            text = document.getElementById('transcript')

            notes.style.display = 'none';
            text.style.display = 'block';

            change_view = document.getElementById('change-view')

            change_view.onclick = () => {
                viewNotes();
            }
            change_view.innerHTML = 'View Notes'
        }
        
        function viewNotes() {
            notes = document.getElementById('notes')
            text = document.getElementById('transcript')

            notes.style.display = 'block';
            text.style.display = 'none';

            change_view = document.getElementById('change-view')

            change_view.onclick = () => {
                viewText();
            }
            change_view.innerHTML = 'View Text'
        }

        async function save_note() {

            title = document.getElementById('noteTitle').value
            text = document.getElementById('transcript').innerHTML
            notes = document.getElementById('notes').innerHTML

            body = {title: title, text: text, notes: notes}

            const response = await fetch('/api/addnote', {
                method: 'POST',
                body: JSON.stringify(body),
                headers: {'content-type': 'application/json'}
            });

            json = await response.json();
            if (json.success === true) {
                alert('Note Saved!')
                location.reload();
            } else {
                alert('ERROR SAVING NOTE: ' + json.error)
            }
        }

        async function copynotes () {
            const targetElement = document.getElementById('notes').style.display === 'none'
        ? document.getElementById('transcript')
        : document.getElementById('notes');
    
        try {
            await navigator.clipboard.writeText(targetElement.innerText);
            alert(`Copied ${targetElement.id === 'notes' ? 'notes' : 'transcript'}!`);
        } catch (err) {
            alert(`Failed To Copy To Clipboard: ${err}`);
        }
        }
    </script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/recorder.js"></script>
    
</html>
{% endblock %}