<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Notes</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/header.css">
    <link rel="stylesheet" href="static/css/loader.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <style>
        #loader {
            display: none;
        }
    </style>
</head>
<body>
  <header>
    <div class="navbar">
      <h1 style="justify-self: center;">No Notes</h1>
      <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
        <a href="/" style=""><iconify-icon icon="material-symbols:home" style="color: white;" width="42"></iconify-icon></iconify-icon></a>
        <a href="/notes" style=""><iconify-icon icon="material-symbols:note-stack" style="color: white;" width="42"></iconify-icon></a>
      </div>
    </div>
  </header>
    {% block content %} {% endblock %}    
    <footer>
            <p>Developed By Alex Jando, Henri Maxon, Ahoura Mousavi, Aki Xuu</p>
            <p>Copyright October 2023 &copy; | Rights Reserved &reg;</p>
            <p>HappyHacks October 2023 Submission</p>
            <p><a href="https://github.com/Alex-Jando/HappyHack-Oct2023">https://github.com/Alex-Jando/HappyHack-Oct2023</a></p>
        </footer>
</body>