<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP3 To Notes</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/loader.css">
    <style>
        #loader {
            display: none;
        }
    </style>
</head>
    <body>
        <header>
            <h1>Never Take Notes Again!</h1>
        </header>
        <main>
            <form>
                <label for="audio">Select an audio file (.mp3):</label>
                <input type="file" name="audio" id="audio" accept=".mp3" required>
                <button id="audioSubmit" type="submit" onclick="mp3_to_text();">Convert To Notes</button>
            </form>

            <div id="loader" class="hidden"><div>Converting... (This may take a few minutes)</div><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
            <ul id="summary" class="hidden"></ul>

            <div class="hidden" id="options">
                <br><hr><br>
                <label for="noteTitle">Pick a note title:</label>
                <input type="text" name="noteTitle" id="noteTitle" required>
                <button id="submitNoteTitle" type="submit" onclick="">Confirm</button>
                <button id="copyClipboard" onclick="copySummary();">Copy to Clipboard</button>
            </div>
        </main>
        <footer>
            <p>Developed By Alex Jando, Henri Maxon, Ahoura Mousavi, Aki Xuu</p>
            <p>Copyright October 2023 &copy; | Rights Reserved &reg;</p>
            <p>HappyHacks October 2023 Submission</p>
            <p><a href="https://github.com/Alex-Jando/HappyHack-Oct2023">https://github.com/Alex-Jando/HappyHack-Oct2023</a></p>
        </footer>
    </body>
    <script>
        async function mp3_to_text() {

            startLoadingAnimation();

            audio_file = document.getElementById('audio').files[0];
            const form_data = new FormData();
            form_data.append('audio', audio_file);

            const response = await fetch("/api/mp3tonotes", {
                                            method: "POST",
                                            body: form_data,
                                        });
            if(response.ok) {
                json = await response.json();
                if (json.error) {
                    document.getElementById('summary').innerHTML = json.error
                } else {
                    document.getElementById('summary').innerHTML = json.summary
                }
            } else {
                document.getElementById('summary').innerHTML = "Response not OK.";
            }

            stopLoadingAnimation();            
        }
        function startLoadingAnimation() {
            document.getElementById('summary').style.display = 'none';
            document.getElementById('options').style.display = 'none';
            document.getElementById('loader').style.display = 'block';
            document.getElementById('audioSubmit').disabled = true;
        }
        function stopLoadingAnimation() {
            document.getElementById('summary').style.display = 'block';
            document.getElementById('options').style.display = 'block';
            document.getElementById('loader').style.display = 'none';
            document.getElementById('audioSubmit').disabled = false;
        }
    
        async function copySummary () {
            try {
                await navigator.clipboard.writeText(document.getElementById('summary').innerHTML);
                console.log('Content copied to clipboard');
            } catch (err) {
            console.error('Failed to copy: ', err);
            }
        }
    </script>
</html>