<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP3 To Notes</title>
</head>
    <body>
        <header>
            <h1>Never Take Notes Again!</h1>
        </header>
        <main>
            <form action="/mp3tonotes" method="POST">
                <label for="file">Input A MP3 File: </label>
                <input type="file" name="file" id="file">
                <button type="submit">Convert To Notes</button>
            </form>
        </main>
        <footer>
            <p>Developed By Alex Jando, Henri Maxon, Ahoura Mousavi, Aki Xuu</p>
            <p>Copyright October 2023 &copy; | Rights Reserved &reg;</p>
            <p>HappyHacks October 2023 Submission</p>
            <p><a href="https://github.com/Alex-Jando/HappyHack-Oct2023">https://github.com/Alex-Jando/HappyHack-Oct2023</a></p>
        </footer>
    </body>
</html>