html, body {
    height: 100%;
}

.note {
    background-color: #fff;
    padding: 20px;
    margin-top: 14px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.container {
    max-width: 600px;
    margin: 20px auto;
}

