html, body {
    height: 100%;
}

.notes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.note {
    display: flex;
    justify-content: space-between;
    align-items: center;
}